<section class="vh-100 bg-image"
  style="background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fdokuzeminsistemleri.com%2Fhaberdetay%2Facik-hali-saha-yapimi.html&psig=AOvVaw0OYnb4uYN1uSnXDlVcYG8c&ust=1693293525483000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCOCVtIro_oADFQAAAAAdAAAAABAE');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5" >Hesap Oluştur</h2>

              <form>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Ad Soyad</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Şifre</label>
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Şifreni Tekrar Gir</label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                  
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                   <u>Kullanıcı sözleşmesini</u> okudum ve kabul ediyorum<a href="#!" class="text-body"></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Kayıt Ol</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Zaten hesabın var mı? <a href="#!"
                    class="fw-bold text-body" ><u routerLink="log-page" routerLinkActive="active">Giriş yap</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>